* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: roboto;
    src: url(/statics/css/fonts/Roboto-Regular.ttf);
}

.logo-text {
    color: rgba(255, 255, 255, 0.85);
    font-size: 24px;
    padding: 175px 0 0 60px;
}

body {
    position: relative;
    margin: 0;
    font-family: roboto, sans-serif, arial;
    overflow-x: hidden;
    color: #333;
}

#header {
    background: url(/statics/img/cover.jpg) no-repeat top;
    background-size: 100% auto;
    width: 100%;
    height: 250px;
}

#footer {
    background: #333;
    width: 100%;
    height: 100px;
}

#content {
    padding: 30px;
    padding-top: 50px;
    padding-right: 40px;
    min-height: 1000px;
    width: calc(100vw - 250px);
    margin-left: 250px;
}

#asideBar {
    background: #efefef;
    width: 250px;
    height: calc(100vh - 50px);
    position: absolute;
    top: 350px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#asideBar.stick {
    position: fixed;
    top: 50px;
}

#asideBar.stick-bot {
    position: absolute;
    bottom: 100px;
    top: auto;
}

#floatMenu {
    display: none;
    background: yellow;
    position: fixed;
    right: 0;
    height: 150px;
    width: 50px;
    top: 300px;
}

h3 {
    font-weight: 100;
    margin-top: 0;
}

.heading {
    color: #aaa;
    font-size: 12px;
    padding-left: 60px;
}

.list-item {
    height: 250px;
    background: #efefef;
    padding: 15px 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.item {
    position: relative;
    display: inline-block;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.item img {
    width: 100%;
    height: 100%;
}

.item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: #000;
    pointer-events: none;
}

.item:hover .overlay {
    opacity: .45;
}

.item .bookName {
    overflow: hidden;
    color: #fff;
    width: 100%;
    background: rgba(0,0,0,.6);
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    right: -7px;
    bottom: 20px;
    clip-path: polygon(5% 100%,0 0,100% 0,100% 100%);
}

.item .cost {
    color: #fff;
    background: rgba(0, 150, 136, 0.79);
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    left: -7px;
    bottom: 0;
    clip-path: polygon(0 100%,0 0,100% 0,93% 100%);
}

.item .index {
    position: absolute;
    top: -10px;
    left: -12px;
    width: 35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    color: #eee;
    font-size: 12px;
    background: #e73948;
    clip-path: polygon(0 100%,0 0,100% 0,85% 80%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.slick-prev {
    left: 2px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.slick-next {
    right: -2px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.slick-next:before {
    content: "▶";
    line-height: 50px;
    font-size: 25px;
    color: #333;
    margin-right: -5px;
    
}

.slick-prev:before {
    content: "◀";
    line-height: 50px;
    font-size: 25px;
    color: #333;
    margin-right: 4px;
    
}


.slick-dotted.slick-slider {
    margin-bottom: 65px;
}

/* NAVGATOIN BAR*/
#navBar {
    width: 100%;
    height: 50px;
}

#navBar #navBarContent {
    z-index: 9999;
    background: #e73948;
    width: 100%;
    height: 50px;
    border-bottom: 1px #ec4654 solid;
    border-top: 1px #ec4654 solid;
}

#navBar.fixed #navBarContent {
    position: fixed;
    top: 0;
    left: 0;
}

#navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
}

#navBar li {
    margin-top: -1px;
    float: left;
    border: 1px transparent solid;
    border-right: 1px #ff838d dotted;
    height: 50px;
}

#navBar li:first-child {
    border-left: 1px #ff838d dotted;
}

#navBar a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    color: #dedede;
    font-size: 12px;
    word-spacing: 2px;
}

#navBar li:hover {
    background: #af2430;
}

/*FOOTER*/
#footer {
    color: #ddd;
    font-size: 12px;
    padding: 20px;
}

/*ASIDE BAR*/
#asideBar {
    padding: 30px 0;
}

#asideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
}

#asideBar li {
    width: 100%;
}

#asideBar a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    width: calc(100% - 30px);
    padding: 10px 30px;
    padding-left: 0;
    margin-left: 30px;
    border-bottom: 1px rgba(0, 0, 0, 0.11) solid;
}

#asideBar ul li:last-child a {
     border-bottom: 1px transparent solid;
}

#asideBar a:hover {
    background: rgba(0, 0, 0, 0.15);
}

#asideBar .al {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin: 10px;
}

/*BTN COMMENT*/


.btn {
    cursor: pointer;
    width: 150px;
    margin: 5px;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-mua {
    background: #4CAF50;
    border: 1px solid  #419444;
}

.btn-mua:hover {
    background: #419444;
}

.btn-thue {
    background: #F44336;
    border: 1px solid #da3e33;
}

.btn-thue:hover {
    background: #da3e33;
}

.btn-send {
    padding: 10px 30px;
    width: auto;
    background: #1a7eaf;
    border: 1px solid #14648c;
}

.btn-send:hover {
    background: #14648c;
}

.review {
    margin: 100px 0;
}

.inputMesg {
    width: 100%;
    height: 100px;
}