* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: roboto;
    src: url(/statics/css/fonts/Roboto-Regular.ttf);
}

.logo-text {
    color: rgba(255, 255, 255, 0.85);
    font-size: 24px;
    padding: 125px 0 0 60px;
}

body {
    margin: 0;
    font-family: roboto, sans-serif, arial;
    overflow-x: hidden;
    color: #333;
}

#header {
    background: url(/statics/img/cover.jpg) no-repeat top;
    background-size: 100% auto;
    width: 100%;
    height: 200px;
}

#footer {
    background: #000;
    width: 100%;
    height: 100px;
}

#content {
    height: 1000px;
    width: calc(100vw - 250px);
    margin-left: 250px;
}

#navBar {
    background: #E91E63;
    width: 100%;
    height: 50px;
}

#asideBar {
    background: blue;
    width: 250px;
    height: calc(100vh - 100px);
    position: absolute;
    top: 250px;
    left: 0;
}

#asideBar.stick {
    position: fixed;
    top: 0;
}

#floatMenu {
    display: none;
    background: yellow;
    position: fixed;
    right: 0;
    height: 150px;
    width: 50px;
    top: 300px;
}