.preview {
    display: flex;
}

.img-pre {
    z-index: 2;
    display: inline-block;
    height: 400px;
    width: 270px;
    border: 10px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.text-pre {
    padding-top: 5px;
    position: absolute;
    margin-top: 20px;
    z-index: 1;
    left: 550px;
    width: 100%;
    background: #f0f0f0;
    height: 360px;
    display: inline-block;
}

.text-pre ul {
    list-style: none;
}

.text-pre ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.text-pre span {
    padding: 3px 0;
    margin-right: 10px;
    display: inline-block;
    width: 115px;
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 500;
    background: #efefef;
    border-right: 1px solid #d5d5d5;
}